extends layout

block layout-content
    div.View 
        h1.Banner Parvfection
        div.message
            div.title
                h3 Welcome to my website
                h1 Prepare to be amazed 
            span.details Access my greatness
        div.NavButtons
            a(href = "/impossibleList")
                div.NavButton Just dive in !
        