extends layout

block layout-content
    header.w3-container.w3-black.w3-center(style='padding:128px 16px')
        h1.w3-margin.w3-jumbo My Impossible List
        p.w3-xlarge It&apos;s a bucket list with extra steps.
        a.w3-button.w3-black.w3-padding-large.w3-large.w3-margin-top(href='#bio') The List
    img(src= '/implist.jpg' align='left' style='height: 430px;')
    br
    br
    br
    br
    br
    br
    div(style='text-align: center;')
    h1 A man&apos;s worth is no greater than his ambitions
    br
    br
    h2         -Marcus Aurelius  
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    #bio(style='padding-left: 100px;')
    br
    br
    br
    h1(style='color: Red;') 
        strong The List
    ul
