extends layout

block layout-content
    header.w3-container.w3-black.w3-center(style='padding:128px 16px')
        h1.w3-margin.w3-jumbo Book Recos
        p.w3-xlarge With short descriptions
        br
        br
        br
        br
        a(href='/')
        img(src='/write.jpeg' style='width: 300px;height: 450px;')

                