
extends layout

block layout-content
    br
    br
    br
    br
    div(style='text-align:center;')
        h1(style='text-decoration:blue;')
            strong  #{name}
    br
    div(style='padding-left: 100px; padding-right: 100px; ')
        h5 #{content}
