extends layout

block layout-content
    header.w3-container.w3-black.w3-center(style='padding:128px 16px')
        h1.w3-margin.w3-jumbo Stories
        p.w3-xlarge Nothing better than some imagination. 
    br
    br
    br
    .card-group
    br
    .card
        .card-body
            div.card
                for i in Stories
                    a.card-title(href = "/stories/" + i.slug style='color: black;')
                        h3 #{i.name}
                    p.card-text 
                    h4  #{i.summary}