extends layout

block layout-content
    header.w3-container.w3-black.w3-center(style='padding:128px 16px')
        h1.w3-margin.w3-jumbo Stories
        p.w3-xlarge Nothing better than some imagination. 
    br
    br
    br
    p #{StoriesObject.name} 
    a(href = "/stories/violin") fdaswfas
    .card-group
    br
    .card
        .card-body
            div.card
                
                a.card-title(href = "#{StoriesObject.slug}" style='color: black;')
                h3 #{StoriesObject.name}
                p.card-text
                    casbalnace
                h4  #{StoriesObject.summary}