extends layout

block layout-content
    div.View 
        h1.Banner Parvfection
        div.message
            div.title
                h3 Stories
                h1 Prepare to be amazed 
            span.details Access my greatness
        
        form(action="/new_user" method="POST")
            p Name:
            input(type="text" name="Name" placeholder="Name")
            p Email Address:
            input(type="text" name="Email" placeholder="Email")
        button(type="submit")
        
        div.NavButtons
            a(href = "/")
                div.NavButton Go back home
        