extends layout

block layout-content
    header.w3-container.w3-black.w3-center(style='padding:128px 16px')
        h1.w3-margin.w3-jumbo Writings
            p.w3-large The library of my recitals. 
            a.w3-button.w3-black.w3-padding-large.w3-large.w3-margin-top(href='#carding') See it for yourself
    br
    br

    img(src='/write.jpeg' style='height: 300px;' align='left')
    br
    br
    br
    br
    div(style='text-align: center;')
    h1
        p   &ldquo;There is no greater agony than bearing an untold story inside you.&rdquo; 
    p
    br
    br
    h2             &horbar; Maya Angelou
    br
    br
    br
    br
    br
    br
    br
    #carding.card-group
    .card
        .card-body
        a.card-title(href='/stories' style='color: black;')
            h3 Stories
        p.card-text
        h4 Kill me now will you why is it this hot
